<% include includes/header.ejs %>
    
    <script src="js/d3test.js"></script>
    <div class="svg-image">
    
        <svg class="nvd3"></svg>
        
        <svg class="chart"></svg>
        
        <svg class="nvd3-pie"></svg>
        
    </div>
    
    
    
<% include includes/footer.ejs %>