<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- title%></title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/docs.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- <link rel="stylesheet" href="jquery-ui/themes/base/jquery.ui.all.css"> -->
    
    <link href="css/footable.core.css" rel="stylesheet">
    <link href="css/footable.standalone.css" rel="stylesheet">
    <!-- <link href="css/footable.editable-1.0.css" rel="stylesheet"> -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/nv.d3.css" rel="stylesheet">
    
    <style type="text/css">
    .chart rect {
	  fill: steelblue;
	}
	
	.chart text {
	  fill: #1A29DA;
	  /* font: 10px sans-serif; */
	  text-anchor: middle;
	}
	.axis text {
	  font: 10px sans-serif;
	}
	
	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}
    </style>
  </head>
  <body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="jquery-ui/jquery-1.11.0.min.js"></script>
    <script src="jquery-ui/ui/jquery-ui.js"></script>
    <!-- <script src="jquery-ui/external/jquery.mousewheel.js"></script>
    <script src="jquery-ui/external/globalize.js"></script>
    <script src="jquery-ui/external/globalize.culture.de-DE.js"></script> -->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    
    <script src="js/footable.js"></script>
    <!-- <script src="js/footable.editable.js"></script> -->
    
    <script src="js/socket.io-1.0.4.js"></script>
    
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/nv.d3.js"></script>
    
	<div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Bootstrap theme</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/d3test">D3Test</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <div class="jumbotron">
      <div class="container">
      	<div class="alert alert-success">
	       <strong>Oh snap!</strong> Change a few things up and try submitting again.
	    </div>
        <h1>Hello, Timesheet!</h1>
        <!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p> -->
        <div class="bs-example">
	        <table class="table staff-info">
	          <tr>
	          	<td class="header">Name</td>
	          	<td class="value">Dang Thanh Tung</td>
	          	<td class="header">Working Site</td>
	          	<td class="value">Fujixerox</td>
	          </tr>
	          <tr>
	          	<td class="header">Code</td>
	          	<td class="value"></td>
	          	<td class="header">Project</td>
	          	<td class="value"></td>
	          </tr>
	          <tr>
	          	<td class="header">Dept</td>
	          	<td class="value"></td>
	          	<td class="header">Timesheet of month</td>
	          	<td class="value"></td>
	          </tr>
	          <tr>
	          	<td class="header">Start from</td>
	          	<td class="">
	          	  <div class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm" data-link-format="yyyy-mm" data-link-field="dtp_input1">
                    <input class="form-control" size="10" type="text" value="">
					<span class="input-group-addon"><span class="glyphicon glyphicon-th"></span>
                  </div>
	          	  <input type="hidden" id="dtp_input1" value="" />
	          	</td>
	          	<td class="header">Standard Working Hour</td>
	          	<td class="value"></td>
	          </tr>
	          <tr>
	          	<td class="header">Contract Type</td>
	          	<td class="value"></td>
	          	<td class="header">Lunch time</td>
	          	<td class="value"></td>
	          </tr>
	        </table>
	    </div>
	    
        
      </div>
      
    </div>
    
    <div class="ts-submit">
      <button type="button" class="reloadbtn btn btn-default" title="Discard changes">Reload</button>
      <button type="button" class="okbtn btn btn-success">Save</button>
      <button type="button" class="submitbtn btn btn-primary">Submit</button>
    </div>
    <div class="bs-timesheet bs-example">
    <!-- TAB  -->
	    <ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
		  <li><a href="#profile" data-toggle="tab">Profile</a></li>
		  <li><a href="#messages" data-toggle="tab">Messages</a></li>
		  <li><a href="#settings" data-toggle="tab">Settings</a></li>
		</ul>
		
		<div class="tab-content">
		  <div class="tab-pane active" id="home">
		  <!-- Timesheet Table -->
<!-- 			  <table id="ts-table" class="timesheet table table-striped">
		      	
		      </table> -->
		      <table id="ts-table" class="">
		      
			  </table>
		  </div>
		  <div class="tab-pane" id="profile">...</div>
		  <div class="tab-pane" id="messages">...</div>
		  <div class="tab-pane" id="settings">...</div>
		</div>
	
	<script>
	  $(function () {
	    $('#myTab a:first').tab('show');
	  })
	</script>
	<script src="js/ts-table.jquery.js"></script>
	<script src="js/main.js"></script>
	
		<!-- <input id="spinner" name="spinner" value="08:30 PM"> -->
    </div>
    <div class="ts-submit" style="">
      <button type="button" class="reloadbtn btn btn-default" title="Discard changes">Reload</button>
      <button type="button" class="okbtn btn btn-success">Save</button>
      <button type="button" class="submitbtn btn btn-primary">Submit</button>
    </div>
    
  </body>
</html>